/* general reused flex style */
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* container that adds the padding to the nav */
.container {
    padding:  20px min(10%, 120px);
}

/* DESKTOP STYLES */
/* logo styles */
.logo-container {
    display: block;
    position: relative;
    width: 110px;
    height: 25px;
}

/* link styles */
.links {
    color: black;
    margin: 0 20px 0;
}

.shop-link {
    margin-right: 5px;
}

.arrowContainer {
    width: 10px;
    margin-right: 15px;
}

.arrow {
    transform: rotate(90deg);
}

/* icon styles */
.icon-container {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 2;
    margin-left: 20px;
}

/* screen sizes over 1240px */
@media (min-width: 1240px) {
  .logo-container {
    width: 130px;
    height: 35px;
  }

  .icon-container {
    width: 35px;
    height: 35px;
  }
}


/* MOBILE STYLES */

.menu-container-mobile {
    display: block;
    position: relative;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.openMenu {
    transform: rotate(90deg);
}

.closedMenu {
    transform: rotate(-90deg);
}


.icon-container-mobile {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.icon-container-mobile:last-child {
    margin-left: 15px;
}

@media (max-width: 600px) {
    .menu-container-mobile {
        width: 30px;
        height: 30px;
    }   

    .logo-container {
        width: 90px;
    }

    .icon-container-mobile {
        width: 25px;
        height: 25px;
    }

    .icon-container-mobile:last-child {
        margin-left: 8px;
    }
}


/* DROPDOWNS */
/* Desktop Dropdown */

.desktopDropdown {
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: 1;
}

.fillerContent {
    width: 100vw;
    margin-top: -2px;
    height: 220px;
    background-color: white;
    position: absolute;
    z-index: 0;
}

.dropdownList {
    padding: 40px 0 20px;
    margin-left: 20px;
}

.dropdownLinks {
    color: black;
    line-height: 2.5;
    font-size: 16.5px;
}

.activeSearchDropdown {
    position: absolute;
    width: 100%;
    z-index: 3;
}

.searchFiller {
    height: 30vh;
    width: 100%;
    background-color: white;
    padding:  50px min(10%, 120px);
}

.searchFiller .flex {
    justify-content: flex-start;
    align-items: normal;
}

.searchInputDesktop {
    font-size: 24px;
    border: none;
    background: transparent;
    outline: none;
    position: relative;
}

/* blinking cursor css */
@keyframes cursorBlink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .searchFiller form {
    position: relative;
  }

  .cursor {
    position: absolute;
    left: .5px;
    width: 1px;
    height: 1.65em;
    background-color: #000;
    animation: cursorBlink 1s infinite;
  }


.searchInputDesktop::placeholder {
    color: black;
    opacity: .6;
}

.quickLinksContainer {
    padding: 20px 0;
}

.quickLinksTitle {
    font-size: 16px;
}

.quickLinksList {
    margin-top: .5em;
}

.quickLinksListItem {
    color: black;
    font-size: 14px;
    line-height: 1.5;
}

/* search dropdown blur bg */
.backDrop {
    position: relative;
    top: 0;
    height: 80vh;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}


/* Mobile Dropdown */

.hamburgerMenu {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    z-index: -1;
    padding: 20% min(10%, 120px) 20px;
}

.searchContainer {
    background-color: #F2F5FC;
    border-radius: 999px;
    padding: 10px 15px;
    margin-top: 15px;
}

.searchContainer form {
    justify-content: flex-start;
}

.searchIconMobile {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.searchInput {
    background: transparent;
    border: none;
    outline: none;
    width: 80%;
}

.mobileLinksList {
    margin-top: 1.5em;
}

.mobileLinks {
    color: black;
    line-height: 2.5;
    margin-left: 15px;
    font-size: 20px;
}