

/* general styles */
.container {
    padding: 20px min(10%, 120px);
}

.flex {
    display: flex;
    align-items: center;
}

/* Home.jsx*/

.landingWrapper {
    background-color: #F3F5FC;
    padding-top: 10px;
}

/* restrict img container with max width and max height, so that the image stops growing after some viewport size */
.landingImgContainer {
    max-height: 700px;
    max-width: 880px;
    overflow: hidden;
    margin: auto;
}

.landingImg {
    display: block;
    object-fit: cover;
}

.landingCopyWrapper {
    text-align: center;
    padding:  20px min(10%, 120px) 60px;
}

.landingHeading {
    font-size: 1.5rem;
    line-height: 1.4;
}

.landingCTAs {
    justify-content: center;
    margin-top: 1rem;
}

.exploreBtn {
    font-size: 1rem;
    letter-spacing: .5px;
    font-family: "Lato", "sans-serif";
    border: none;
    border-radius: 10px;
    background-color: #1D1D1D;
    color: white;
    padding: .5rem 1.95rem;
    margin: 0 1rem;
    cursor: pointer;
}

.categoryLink {
    color: black;
    font-size: 1rem;
    /* cursor: pointer; */
}

.arrowContainer {
    width: 6px;
    margin-left: 6px;
    margin-top: 2px;
}


/* Ribbon.jsx */

.ribbon {
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 1rem;
    background-color: #1D1D1D;
    padding: .5rem 0;
    /* margin-bottom: 20px; */
}

.ribbonContent {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: 1rem;
    animation: ribbonScroll 40s linear infinite;
}

.ribbonText {
    color: white;
    font-weight: 300;
}

@keyframes ribbonScroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 1rem));
    }
  }


/* categoryShop.jsx */

.categorySection {
    background-color: #F5F5F5;
}

.categoryWrap {
    max-width: 1620px;
    margin: 0 auto;
}

.categoryTitle {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.dualCategoryWrapper {
    justify-content: space-around;
    align-items: flex-end;
    padding: 2rem 0;
}

.iphoneImgContainer {
    height: 137px;
    width: 136px;
}

.airpodsImgContainer {
    height: 137px;
    width: 73px;
    margin-left: 15px;
}

.watchImgContainer {
    height: 105px;
    width: 109px;
}

.laptopImgContainer {
    height: 137px;
    width: 161px;
    margin-left: 20px;
}

.categoryText {
    text-align: center;
    margin-top: 1rem;
    color: black;
}

.phoneText {
    text-align: left;
}

.laptopText {
    margin-left: 15px;
}


/* Banner.jsx */

.bannerSection {
    margin-top: 1rem;
}

.bannerImgContainer {
    max-height: 513px;
    object-fit: cover;
    overflow: hidden;
}

.bannerContent {
    background-color: #F3F5FC;
    text-align: center;
    padding: 20px 0;
}

.bannerTitle {
    margin: 1rem;
}

.releaseDate {
    font-size: .75rem;
}

.promotionTime {
    color: #777272;
}

.bannerInputWrapper {
    justify-content: center;
    margin: 1.5rem 0;
}

.bannerInput {
    border: none;
    background-color: white;
    padding: .6rem 2rem;
    border-radius: 7px 0 0 7px;
}

.bannerInput::placeholder {
    font-family: "Lato";
    font-size: 1rem;
    color: #CDCDCD;
    letter-spacing: .5px;
}

.bannerBtn {
    border: none;
    background-color: #1D1D1D;
    font-family: "Lato";
    font-weight: 300;
    font-size: 1rem;
    color: white;
    padding: .5rem 1rem;
    border-radius: 0 7px 7px 0;
    letter-spacing: .5px;
    cursor: pointer;
}

/* SocialProof.jsx */

.socialProofCopy {
    text-align: center;
    padding: 2rem 0;
}

.socialProofTitle {
    font-size: 21px;
}

.socialProofSubtitle {
    font-size: 14px;
}

.singleSocialImgContainer {
    margin: .5rem 0;
}

.mainImgContainer {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: .5rem;
    max-width: 615px;
}

.secondarySocialImgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondaryImgContainer {
    width: 100%;
    height: 100%;
    max-width: 305px;
}

.secondaryImgContainer:first-child {
    margin-right: .25rem;
}

.secondaryImgContainer:last-child {
    margin-left: .25rem;
}


/* Best sellers */

.bestSellers {
    padding: 1rem 0 4rem;
}

.bestSellersCopy {
    text-align: center;
    margin: 3rem 0;
}

.bestSellerSubtitle {
    margin-top: .25rem;
    font-size: 12px;
}

.bestSellerCTA {
    text-align: center;
}

.bestSellersBtn {
    cursor: pointer;
    font-family: "Lato", "sans-serif";
    letter-spacing: .5px;
    background-color: #FD786A;
    border: none;
    color: white;
    border-radius: 7px;
    padding: .5rem 1rem;
    margin-top: 2rem;
}

.bestSellersArrow {
    width: 10px;
    cursor: pointer;
    position: absolute;
    z-index: 1;
}

.rightArrow {
    right: 0%;
    top: 35%;
}

.leftArrow {
    left: 0%;
    top: 35%;
    transform: rotate(180deg);
}

.carousel {
    margin: 0 auto;
}

.bestSellersImgContainer {
    position: relative;
    margin: 0 auto;
    width: 85px;
    height: 172px;
    transform: scale(0.7);
    transition: transform 300ms;
}

.activeImg {
    transform: scale(1);
}

.carouselItemsCopy {
    text-align: center;
    margin-top: 1rem;
    font-family: "Lato", "sans-serif";
    font-weight: 700;
}

.carouselItemPrice {
    font-size: 14px;
    margin-top: .25rem;
}




/* screen sizes below 352px */
@media (max-width: 360px) {
    .categoryText {
        font-size: 12px;
    }

    .phoneText {
        margin-left: 10px;
    }

    .airpodsText {
        margin-left: 10px;
    }

    .watchText {
        margin-left: 10px;
    }

    .laptopText {
        margin-left: 10px;
    }

    .laptopImgContainer {
        height: 123px;
        width: 141px;
        margin-left: 25px;
    }
}

@media (max-width: 436px) {
    .bannerInputWrapper {
        display: block;
    }

    .bannerInput {
        border-radius: 7px;
    }

    .bannerBtn {
        border-radius: 7px;
        margin-top: .5rem;
        font-size: .9rem;
    }

    .carousel {
        max-width: 200px;
    }

}

@media (min-width: 436px) {
    .bestSellersImgContainer {
        width: 107px;
        height: 217px;
    }
}

/* screen sizes below 600px */
@media (max-width: 600px) {
    .carousel {
        max-width: 300px;
    }
}

/* screen sizes above 600px */
@media (min-width: 600px) {
    .landingHeading {
        font-size: 2rem;
        line-height: 1.4;
    }

    .categoryTitle {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .iphoneImgContainer {
        height: 270px;
        width: 268px;
    }
    
    .airpodsImgContainer {
        height: 270px;
        width: 144px;
    }
    
    .watchImgContainer {
        height: 207px;
        width: 215px;
    }
    
    .laptopImgContainer {
        height: 250px;
        width: 290px;
        margin-left: 40px;
    }

    .phoneText {
        margin-left: 45px;
    }

    .watchText {
        margin-left: 25px;
    }

    .bannerContent {
        padding: 3rem 0;
    }

    .bannerTitle {
        font-size: 1.5rem;
    }

    .carousel {
        max-width: 600px;
        margin-bottom: 2rem;
    }

    .bestSellersImgContainer {
        width: 126px;
        height: 254px;
    }
}

/* screen sizes above 992px */
@media (min-width: 992px)  {

    .desktopView {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 0px;
    }

    .landingImgContainer {
        overflow: hidden;
        flex: 2 1 0;
    }

    .landingCopyWrapper {
        flex: 1 1 0;
        text-align: left;
        padding: 0;
        padding-right: min(10%, 120px);
        margin-bottom: 80px;
    }

    .landingHeading {
        font-size: 1.8rem;
    }

    .landingCTAs {
        justify-content: flex-start;
    }

    .exploreBtn {
        margin-left: 0;
    }

    .categoryDesktopView {
        display: flex;
        justify-content: space-around;
        padding: 3rem 0;
    }

    .dualCategoryWrapper {
        justify-content: space-around;
        flex-grow: 1;
    }

    .dualCategoryWrapper:last-of-type {
        margin-left: 15px;
    }

    .airpodsText {
        margin-left: 15px;
    }

    .watchText {
        margin-left: 50px;
    }

    .bannerDesktopView {
        display: flex;
        align-items: center;
        background-color: #F3F5FC;
    }

    .bannerImgContainer {
        height: 350px;
        width: 600px;
        order: 2;
    }

    .bannerContent {
        flex-grow: 2;
    }

    .socialProofContainer {
        margin: 20px min(10%, 120px);
    }

    .socialProofTitle {
        font-size: 28px;
    }
    
    .socialImgContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1260px;
        margin: 0 auto;
    }

    .singleSocialImgContainer {
        flex-grow: 1;
    }

    .singleSocialImgContainer:first-child {
        margin-right: .25rem;
    }

    .singleSocialImgContainer:last-child {
        margin-left: .25rem;
    }

    .mainImgContainer {
        height: 100%;
    }

    .secondaryImgContainer {
        height: 100%;
    }

    .bestSellersCopy {
        margin-bottom: 6rem;
    }

    .carousel {
        max-width: 900px;
    }

    .bestSellersTitle {
        font-size: 2rem;
    }

    .bestSellersImgContainer {
        width: 182px;
        height: 367px;
    }
}

/* screen sizes above 1240px */
@media (min-width: 1240px) {

    .landingCopyWrapper {
        margin-bottom: 120px;
    }

    .landingHeading {
        font-size: 2.25rem;
    }

    .bannerImgContainer {
        height: 450px;
        width: 800px;
    }


}



